<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>inventory</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>controllers.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeListServlet</servlet-name>
		<display-name>EmployeeListServlet</display-name>
		<description></description>
		<servlet-class>controllers.EmployeeListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>productSell</servlet-name>
		<display-name>productSell</display-name>
		<description></description>
		<servlet-class>controllers.productSell</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addNewProduct</servlet-name>
		<display-name>addNewProduct</display-name>
		<description></description>
		<servlet-class>controllers.addNewProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>seeStock</servlet-name>
		<display-name>seeStock</display-name>
		<description></description>
		<servlet-class>controllers.seeStock</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>controllers.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>seeProducts</servlet-name>
		<display-name>seeProducts</display-name>
		<description></description>
		<servlet-class>controllers.seeProducts</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditandDeleteProduct</servlet-name>
		<display-name>EditandDeleteProduct</display-name>
		<description></description>
		<servlet-class>controllers.EditandDeleteProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaleProduct</servlet-name>
		<display-name>SaleProduct</display-name>
		<description></description>
		<servlet-class>controllers.SaleProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SoldProduct</servlet-name>
		<display-name>SoldProduct</display-name>
		<description></description>
		<servlet-class>controllers.SoldProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductWithStock</servlet-name>
		<display-name>ProductWithStock</display-name>
		<description></description>
		<servlet-class>controllers.ProductWithStock</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StockEdit</servlet-name>
		<display-name>StockEdit</display-name>
		<description></description>
		<servlet-class>controllers.StockEdit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bal</servlet-name>
		<display-name>Bal</display-name>
		<description></description>
		<servlet-class>controllers.Bal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeListServlet</servlet-name>
		<url-pattern>/EmployeeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productSell</servlet-name>
		<url-pattern>/productSell</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addNewProduct</servlet-name>
		<url-pattern>/addNewProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>seeStock</servlet-name>
		<url-pattern>/seeStock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>seeProducts</servlet-name>
		<url-pattern>/seeProducts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditandDeleteProduct</servlet-name>
		<url-pattern>/EditandDeleteProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaleProduct</servlet-name>
		<url-pattern>/SaleProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SoldProduct</servlet-name>
		<url-pattern>/SoldProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductWithStock</servlet-name>
		<url-pattern>/ProductWithStock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StockEdit</servlet-name>
		<url-pattern>/StockEdit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bal</servlet-name>
		<url-pattern>/Bal</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
